.header-navbar {
  width: 100%;
}


.main-menu { 
  display: flex; /* make nav links horizontal */ 
  justify-content: center; 
  list-style: none; /* remove dot from the list item */ 
}


.navlink {
  color: aqua; 
} 

.active, .navlink:hover {
  background-color: orange; 
  color: black;
  background-size: 12px; 
  padding: 10px;
  background-repeat: no-repeat; 
}
nav li a {
  color: rgb(245, 236, 211);
  text-decoration: none; /* remove link underlined */ 
  margin-right: 50px; /* space between navbar elements */
}

