.header-navbar {
    width: 100%;
  }
  
  
  .main-menu {
    margin: 30px; 
    display: flex; /* make nav links horizontal */ 
    justify-content: center;
  }


  nav li {
    list-style: none; /* remove dot from the list item */
    margin-right: 50px; /* space between navbar elements */
  } 

  nav li a {
    color: rgb(245, 236, 211);
    text-decoration: none; /* remove link underlined */
  }


  /* image under active navbar link */ 
  .active {
    stroke: blue;
    /* background-image: url('./assets/images/background.jpg'); */
 }